.main {
    background: radial-gradient(circle, rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0), rgb(50, 50, 50), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    grid-template-areas: "header header"
        "nav nav"
        "cont1 cont2"
        "cont3 cont3"
        "footer footer";
}

.header {
    padding: 5px;
    border: 5px solid rgb(160, 160, 160);
    border-radius: 15px;
    grid-area: header;
}

.nav {
    color: white;
    display: flex;
    justify-content: center;
    grid-area: nav;
}



.footer {
    color: white;
    padding: 5px;
    border: 5px solid rgb(160, 160, 160);
    border-radius: 15px;
    grid-area: footer;
    text-align: center;
}





/*FOOTER STYLE*/
.bt{
    fill: white;
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
/*NAV STYLE*/
.container-fluid{
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
    font-size: 25px;
}
.navbar{
    padding: 0px;
    margin: 20px;
    border-radius: 15px;   
}
.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 0 0 10% ;
}
.cont2{
    padding:0 10% 0 0 ;
}
.cont3{
    grid-area: cont3;
    padding:0 5% 0 5% ;
}
.dropdown-menu{
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
}
@media screen and (max-width:650px){
    .main{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "nav"
                             "cont1"
                             "cont2"
                             "cont3"
                             "footer"
                             ;
    }
    .cont1, .cont2{
        padding:0 10% 0 10% ;
    }
}

table {
    background-color: #d3d3d3;
    border-radius: 15px;
}
td, th {
    padding: 10px;
    border: none;
    text-align: left;
}